/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* SVG vars*/
body {
  background-color: #ececec;
  font-family: "Oxygen", sans-serif;
  font-size: 1.4em; }
  body .main_holder .wall_view {
    position: absolute;
    left: 270px;
    top: 174px;
    border: 2px solid #000;
    width: 274px;
    height: 184px;
    z-index: 1111; }
  body .main_holder .wall_holder {
    position: absolute;
    left: -548px;
    display: block;
    width: 1918px;
    background-color: #dcd5d5;
    height: 552px;
    border: 1px solid #333; }
    body .main_holder .wall_holder .wall {
      position: absolute;
      left: 274px; }
      body .main_holder .wall_holder .wall .wall_section {
        width: 1096px;
        height: 552px;
        background: url("../../images/wall_tile.jpg"); }
        body .main_holder .wall_holder .wall .wall_section .flower {
          position: absolute; }
  body .main_holder .nav {
    position: absolute;
    top: 300px;
    width: 100%; }
    body .main_holder .nav .btn_arrow {
      display: inline-block;
      padding: 10px 20px;
      width: 45px;
      background: rgba(0, 0, 0, 0.3);
      box-sizing: content-box; }
    body .main_holder .nav #arrow_right {
      position: absolute;
      right: 0px; }
    body .main_holder .nav .nav_arrow {
      width: 45px; }
  body .main_holder form {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    text-align: center; }
    body .main_holder form fieldset {
      display: block;
      margin: 0 auto 15px;
      text-align: center; }
      body .main_holder form fieldset label, body .main_holder form fieldset input, body .main_holder form fieldset textarea {
        display: block;
        margin: 0 auto 5px; }
    body .main_holder form .submit {
      display: block;
      margin: 0 auto 15px; }
  body .main_holder .background_holder {
    width: 100%;
    overflow: hidden; }
    body .main_holder .background_holder .background {
      height: 100vh;
      background: url(../images/Never-ending-poppy-fields.jpg); }
  body .modal_layer {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2222;
    position: absolute;
    opacity: 0; }
    body .modal_layer .modal {
      position: relative;
      width: 300px;
      height: 150px;
      background-color: #fff;
      text-align: center;
      padding: 10px;
      margin: 0 auto;
      top: 20%; }
      body .modal_layer .modal .close_btn {
        position: absolute;
        right: 10px; }
