@import "reset";
@import "mixins";
@import "vars";

body {
  background-color: $BG_gray;
  font-family: $bodyFont;
  font-size: 1.4em;

  .main_holder {
    /////// SPRITES HOLDER
    // .sprites_holder {
    //   position: absolute;
    //   width: 100%;
    //   top: 0px;

    //   .sprite {
    //     position: absolute;
    //   }
    // }

    /////// WALL
    .wall_holder {
      display: block;
      width: 100%;
      background-color: #dcd5d5;
      height: 100vh;

      .wall {
        width: 250px;
        height: 175px;
        background-color: #363636;
      }
    }

    /////// NAV
    .nav {
      position: absolute;
      top: 300px;
      width: 100%;

      .btn_arrow {
        display: inline-block;
        padding: 10px 20px;
        width: 45px;
        background: rgba(0, 0, 0, 0.3);

        box-sizing: content-box;
      }
      #arrow_right {
        position: absolute;
        right: 0px;
      }
      .nav_arrow {
        width: 45px;
      }
    }

    /////// FORM
    form {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 15px;
      text-align:center;
      
      fieldset {
        display: block;
        margin: 0 auto 15px;
        text-align:center;
        label, input, textarea {
          display: block;
          margin: 0 auto 5px;
        }
      }
      .submit {
        display: block;
        margin: 0 auto 15px;
      }

    }
    

    /////// BACKGROUND
    .background_holder {
      width: 100%;
      overflow: hidden;
      .background {
        height: 100vh;
        // position: absolute;
        background: url(../images/Never-ending-poppy-fields.jpg);
      }
    }
  }
}
